<div 
id="input-dropid"
  cdkDropList
  cdkDropListSortingDisabled 
  [cdkDropListData]="service.nodes"
  [cdkDropListConnectedTo]="service.dropTargetIds"
  [cdkDropListEnterPredicate]="_alwaysPreventDropPredicate"
  (cdkDropListExited)="addTemporaryInput($event)"
  (cdkDropListEntered)="cleanupTmeporaryInputs()"
 class="flex flex-row p-2 md:p-4 gap-1 md:gap-2">
<div 
[cdkDragData]="item.component()"
cdkDrag
cdkDrag
[cdkDragData]="item"
(cdkDragMoved)="dragMoved($event)"
(cdkDragReleased)="dragReleased($event)"

class ="target-item justify-start gap-5 p-4 shadow-md bg-white rounded-md cursor-move"
*ngFor="let item of targets;">
 
  <div
  class="flex items-center justify-center"
>
  <mat-icon
    class="scale-150 block"
  >
    {{ item.icon }}
  </mat-icon>
  <span class="w-32">
    {{ item.name }}
  </span>
  <mat-divider></mat-divider>
</div>
</div>

</div>